.header__success{
    background: var(--primary-color);
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.card__background{
    background: var(--primary-color);
    /* background: #008e76!important; */
    color: white;
}