// Here you can add other styles
:root {
    --primary-color:        #008e76;
    --secondary-color:      #1d2531;
    --third-color:          #d8dee4;
    --background-color:     #f2f7fb;
    --error--color:         #e45161;
    --error--background:    #f86c6b;
    --success--color:       #6bc781;
    --success--background:  #4dbd74;
  }



/*==== ALERTS ====*/
.toast { 
    align-items: flex-start;
    border-radius: 4px;
    color: #ffffff;
    display: flex;
    padding: 16px;
    opacity: 1!important;
  }
  
  .toast--error {
    background: var(--error--background)!important;
  }
  
  .toast--success {
    background: var(--success--background)!important
  }
  
  .toast:not(:last-child) {
    margin: 0 0 12px;
  }
  
  .toast__content {
    flex: 1 1 auto;
    margin: 0 12px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .toast__dismiss {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    flex: 0 0 auto;
    font: inherit;
    padding: 0;
  }
  
  .toasts {
    bottom: 24px;
    position: fixed;
    right: 24px;
    width: 240px;
    z-index: 99999;
  }
  
  #ProgressBar {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 4px;
  }
  
  #Progress {
    width: 50%;
    background-color: #4A90E2;
    height: 100%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-color: #4A90E2;
    
    animation-name: progressBar;
    animation-iteration-count: 1;
    animation-duration: 2s;
  }
  
  @keyframes progressBar {
    0% {
      width: 10%;
    }
    
    100% {
      width: 50%;
    }
  }

  
  /*==== END ALERTS ====*/


.text--error {
  color: var(--error--color)!important;
}

.text--success {
  color: var(--success--color)!important;
}


/* ==== PROFILE ====*/

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.btn-center {
  display: flex;
  justify-content: center;
}

.input-group > .input-group-prepend {
  width: 20%;
}
span.input-group-text {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .input-group > .input-group-prepend {
      width: 100%;
  }
}
/*
.open > .nav-dropdown-items > .nav-item {
  background: red;
}*/

  /*Card Image - General */
.img--default {
  margin: 10px;
  max-height: 220px;
  max-width: 200px;
  width: auto!important;
}
  
.img--validation--success {
border: 6px solid var(--success--background)!important;
}

.img--validation--error {
border: 6px solid var(--error--background)!important;
}

/* ==== END PROFILE ====*/


/* === SIDEBAR  === */
.sidebar {
  background: var(--secondary-color)!important;
  background-image: linear-gradient(135deg,#101117 0,#442168 100%) !important;
}

/* === END SIDEBAR  === */

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.header-bg{
  height: 50px!important;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.card--facebook {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100%;
  justify-content: center;
  padding: 2em;
  margin-left: 1%;
  margin-bottom: 1%!important;
}

.card--facebook--image{
  padding: 0%!important;
}
.card--facebook--content {
  font-size: 0.700rem;
}

/* ===== HEADER NAVBAR ======*/
.app-header {
  border: 0px!important;
}

.app-header__background  {
  background-image: linear-gradient(135deg,#667eea 0,#764ba2 100%);
}
.app-header__background > * {
color: #fff!important;
}
/* ===== END NAVBAR HEADER ======*/